<%  if @invites!=nil then
        @invites.each do |invite| 
            inviter = User.find(invite.user_id)  %>
            <p id="notice">
                <%= link_to invite_path(invite.id), method: :patch do %>
                    Accept invitation from <%= inviter.name %>
                <% end %>
            </p>
        <% end %>
<% end %>